    <!doctype html>
    <html>
      <head>
        <meta charset="utf-8">
        <title>各机房监控系统导航</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
      </head>
      <body>
	<div class="container">
	        <div class="row">
			<div class="col-xs-12 col-md-12">
				<div class="jumbotron">
				  <center><h1>各机房监控系统导航</h1></center>
				</div>
			</div>
		</div>
	        <div class="row">
			{% for b in blocks %}
			<div class="col-xs-12 col-md-4">
				<div class="panel panel-default">
				  <div class="panel-body">
	                               <center> <a style=" color:#666; font-size:22px;" href={{ b.urls }} target="view_window">{{ b.name }}</a></center>
				  </div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
      </body>
    </html>
