    <!doctype html>
    <html>
      <head>
        <meta charset="utf-8">
        <title>运维导航</title>
	<link rel="stylesheet" href="/static/css/boostrap.min.css" />
      </head>
      <body>
	<div class="container">
	        <div class="row">
			<div class="col-xs-12 col-md-12">
				<h2>运维导航页面</h2>
			</div>
		</div>
	        <div class="row">
			<div class="col-xs-12 col-md-2">
				<a href="http://10.21.2.4/nagios/">北京机房nagios</a>
				<button type="button" class="btn btn-primary">提交</button>
			</div>
        		<div class="col-xs-12 col-md-8">
				<a href="http://10.220.0.166/nagios/">佛山机房nagios</a>
			</div>
        		<div class="col-xs-12 col-md-2">
				<a href="http://10.22.1.254/centreon/index.php">上海机房CES</a>
			</div>
		</div>
	</div>
      </body>
    </html>
